* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --welcome: rgb(54, 79, 107);
  --bar: rgb(252, 81, 133);
  --text: rgb(245, 245, 245);
  --project: rgb(63, 193, 201);
}
body {
  font-family: "Poppins", serif;
  min-width: 660px;
}
a {
  text-decoration: none;
}
.nav {
  display: flex;

  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  padding: 0 2rem;
  background-color: var(--bar);
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-item a {
  color: var(--text);
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  height: 100%;
  padding: 21px 12px;
}

.nav-item a:hover {
  color: var(--welcome);
  background-color: var(--project);
}

.welcome-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--welcome);
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  color: var(--text);
}

.subtitle {
  font-size: 2rem;
  color: var(--bar);
  letter-spacing: 0.15rem;
}

.projects-section {
  background-color: var(--project);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.projects-header {
  font-size: 2.5rem;
  color: var(--text);
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.projects-grid {
  display: grid;
  width: 90%;
  max-width: 1280px;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--welcome);
  border-radius: 2px;
  width: 400px;
}

.project-image {
  width: 400px;
  height: 390px;
  object-fit: cover;
}

.project {
  width: 100%;
  height: 60px;
}

.code {
  color: transparent;
}

.project-title {
  font-size: 1.4rem;
  color: var(--text);
  text-align: center;
  padding-top: 12px;
}

.btn {
  margin-top: 60px;
  background-color: var(--welcome);
  color: var(--text);
  text-align: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 8px 18px;
  font-weight: 500;
  border-radius: 3px;
}

.btn:active {
  transform: translateX(4px);
}

.contact-section {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text);
  background-color: var(--welcome);
}

.social-media {
  width: 80%;
  max-width: 1000px;
  min-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.5rem;
  margin-top: 2rem;
  cursor: pointer;
}
hr {
  width: 100%;
  height: 5px;
  background-color: var(--bar);
  border: none;
}
footer {
  width: 100%;
  height: 10vh;
  background-color: var(--welcome);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  font-size: 1.2rem;
}
.fa-free-code-camp,
.fa-github,
#profile-link {
  color: var(--text);
}

@media screen and (max-width: 1350px) {
  .projects-grid {
    max-width: 850px;
    grid-template-columns: 1fr 1fr;
    grid-row: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .projects-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
